<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data||Young Innovation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Year</th>
        <th>Sale</th>
      </tr>
    </thead>
    <tbody>
    {% for d in data %}
        <tr>
            <td>{{d.petroleum_product}}</td>
            <td>{{d.year}}</td>
            <td>{{d.sale}}</td>
        </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
</body>
</html>