<!DOCTYPE html>
<html lang="en">
<head>
  <title>Output-Intern of Young Innovations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br>
  <center><h5> The given data are in api are inside this <a href="{% url 'petroleum:petroleums' %}" >link</a></h5></center>
  <center><h6>Young Innovation Intern Apply</h6></center>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Year</th>
        <th>Min</th>
        <th>Max</th>
        <th>Avg</th>
      </tr>
    </thead>
    <tbody>
    {% for r in resultdata %}
      <tr>
        <td>{{r.0}}</td>
        <td>{{r.1}}</td>
        <td>{{r.2}}</td>
        <td>{{r.3}}</td>
        <td>{{r.4}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
</body>
</html>